.header{
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    text-align: center;
}

.title{
    text-align: center;
    
}

.mainbody{
    top: 114px;
    left: 5px;
    right: 5px;
    bottom: 20px;
}

.footer{
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
    position: fixed;
}
body{
    background-color: lightsteelblue;

}